* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("Landing.png");
    background-size: cover;
    background-repeat: no-repeat;
    size: 100%;
}

/* Navbar */

.container {
    height: 110px;
    max-width: 1618px;
    width: 100%;
    margin: 0 auto;

}


.main_logo {
    font-family: 'Cherry Bomb', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #675B57;
    margin-bottom: 35px;
}



.first_nav_item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #675B57;
    padding: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 35px;
}


nav ul li {
    list-style-type: none;
    display: inline-block;
}


.nav_item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    line-height: 30px;
    color: rgba(103, 91, 87, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 35px;
    text-align: right;

}

.button_signup {
    background: #FBEDDD;
    height: 62px;
    width: 123px;
    border-radius: 24px;
    color: #675B57;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 100;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 3px;

}

nav div ul :nth-child(6) {
    flex-grow: 2;
    text-align: right;
}

nav div ul :nth-child(1) {
    flex-grow: 1;
}

.nav_item_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px 35px 35px 35px;
}


/* Header */
.main_photo {

    width: 379px;
    height: 639px;
    padding-right: 80px;
    padding-top: 15px;
}

.main_about {
    flex-grow: 1;
}

.header_container {
    font-family: 'Poppins', sans-serif;
    color: #675B57;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 35px;
    margin: 0 auto;
    max-width: 1618px;
    height: 640px;
    padding-top: 50px;

}

.header_opinion_photo {
    border-radius: 50%;
}

.info {
    width: 587px;
    height: 542px;
    top: 225px;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 68px;

    color: #675B57;
    padding-bottom: 80px;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 32px;

    color: #675B57;
}

.list_about {
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #675B57;
}

.main_elements {
    padding-bottom: 16px;
}

.opinion {
    width: 244px;
    padding-right: 43px;




}

.opinion_p1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color:
        #675B57;
    padding-bottom: 5px;
    padding-top: 90px;

}

.opinion_p2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #675B57;
    text-align: right;
    padding-bottom: 65%;
}

.download {
    width: 304px;
    height: 70px;

    background: #F38400;
    border-radius: 24px;
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FCF8F3;
    margin-top: 40px;
}

.fa-brands {
    padding-right: 30px;
}

.fa-sharp {
    color: #3CA2B6;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #675B57;
}

.a_downlad {
    text-decoration: none;
    color: white;
}